/*popins-font*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Exo+2:wght@600&family=Indie+Flower&family=Michroma&family=Playfair+Display:ital@0;1&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(world.jpg);
    background-size: cover;
}

.container{
    width:100%;
    max-width: 800px;
    padding: 60px;
    border-radius: 50%;
    color: #060303;
    /* background-color: #7c77ae; */
    /* opacity: 0.6; */
    /* box-shadow: 0 10px 10px rgba(247, 239, 239, 0.2); */
}

p{
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color:#ffffff62;
    text-transform: uppercase;
    font-weight: bold;
}
h3{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    font-weight: bold;
    
}

.wrapper{
    padding: 80px 0;
    border-radius: 50%;
    margin-top: 30px;
    background: rgba(152, 187, 234, 0.15);
    box-shadow: 0 8px 32px 0 rgba(43, 54, 214, 0.37);
    backdrop-filter: blur(1.5px);
    border: 1px solid rgba(178, 158, 239, 0.18);
    transition: qll 0.3s;
}

.wrapper:hover{
    box-shadow: none;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main div{
    width: 20%;
    text-align: center;
}

.main .number{
    position: relative;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.main .colon{
    font-size: 30px;
}

.btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.btn{
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 8px 32px 0 rgba(31,38,135, 0.37);
    border: 1px solid rgba(255,255,255,0.18);
    font-weight: bold;

}

.btn:active{
    box-shadow: none;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

.hidden{
    display: none;
}

.laps{
    position:relative;
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.laps .lap{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.laps .lap.active p{
    color: #fff;
}

@media (max-width: 600px){
    .container{
        height: 100vh;
        display: flex;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }

    .content h3{
        font-size: 16px;
    }

    .outer-wrapper{
        padding: 20px 0;
    }

    .main div{
        width: 15%;
    }

    .main .number{
        font-size: 50px;
    }

    .main .colon{
        font-size: 16px;
    }
}






